# Terraform build artifacts
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# локальные переменные (секреты/идентификаторы)
infra/terraform.tfvars

# Python кэш
__pycache__/
*.pyc
